# Ignore virtual environment
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore IDE/project-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store 